/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue&family=Rancho&display=swap');

body {
    display: flex;
    background-color: green; /* add image later */
    font-family: "Comic Neue", cursive;
    align-items: center;
    justify-content:center;
    min-height: 100vh;
    margin: 0;
}

/* Game container */
.game-container {
    width: 415px;
    background-color: white;
}

h1 {
    font-family: "Rancho", cursive;
    font-size: 38px;
    text-align: center;
    padding-top: 8px;
    margin: 0;
}

.intro-area {
    font-size: 18px;
    text-align: center;
    margin: 0 10px 30px;
}

/* only intro screen displayed until button-click triggers js */
.hidden {
    display: none;
}

.game-area {
    font-size: 18px;
    text-align: center; 
}

#name {
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    letter-spacing: 28px;
    text-indent: 28px;
}

input {
    font-family: "Rancho", cursive;
    font-size: 30px;
    width: 75%;
    height: 50px;
    padding: 0 12px;
    display: block;
    margin: 0 auto;
}

/* Buttons */
.btn {
    background-color: green;
    color: white;
    font-family: "Comic Neue", cursive;
    font-size: 18px;
    padding: 5px 10px;
}

.btn:hover {
    background-color: black;
}

.buttons {
    display: flex;
    justify-content: space-between;
    margin: 8px 110px 0 100px;
}

/* Media queries */

/* Media query for small phones (up to 425px) */
@media (max-width: 425px) {
    .game-container {
        width: 310px;
    }

    #name {
        font-size: 30px;
        letter-spacing: 18px;
        text-indent: 18px;
    }

    #clue {
        font-size: 12px;
    }

    input {
    font-family: "Rancho", cursive;
    font-size: 24px;
    width: 75%;
    height: 40px;
    padding: 0 10px;
    display: block;
    margin: 0 auto;
}

    .buttons {
        display: flex;
    justify-content: space-between;
    margin: 8px 60px 0 45px;
    }
}

/* Media query for tablets and larger screens (from 768px and up) */
@media screen and (min-width: 768px) {
    .game-container {
        width: 750px
    }

    #name {
        font-size: 48px;
        letter-spacing: 35px;
        text-indent: 35px;
    }

    .buttons {
        display: flex;
    justify-content: space-between;
    margin: 15px 280px 0 270px;
    }
}